@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin-loading 1s ease infinite;
}

.spinner {
  animation: spin-loading 1s ease infinite;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to top right,
    #fcd34d,
    #f43f5e,
    #6366f1 90%
  );
  cursor: pointer;
}

/* globals.css */
.gif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: url("https://i.gifer.com/EAoe.gif") no-repeat;
  background-size: cover;
  z-index: 1601; /* Ensure it's above the loader */
}

.edu-vic-wa-nt-beginner-700 {
  font-family: var(--font-edu-vic), cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.max-h-screen-71px {
  max-height: calc(100vh - 71px);
}

@keyframes spin-loading {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cho phép cuộn nội dung bên trong một phần tử cụ thể */
.scrollable-content {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên Internet Explorer và Edge */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari và Opera */
}

/* styles.css */

.aspect-ratio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aspect-ratio:hover .overlay {
  opacity: 1;
}
